---
const { copy } = Astro.props;
---

<article class="flow">
  <h2 class="h2">Committed to Getting the Job Done Right</h2>
  <Fragment class="flow" set:html={copy} />
</article>

<style lang="scss">
  h2, h3 {
    text-align: center;
  }
</style>
