@import "./reset.css";
@import "./utilities.css";

/* base layout sytles */
.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: var(--font-size-1);
}

@media (min-width: 1000px) {
  li[role="none"],
  .nav-link {
    width: fit-content;
    margin-inline: none;
    font-size: var(--font-size-0);
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* COMPONENTS */
.btn {
  color: hsl(var(--white));
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--menu {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  height: 2rem;
  width: 2rem;
}
