@import "./reset.css";
@import "./utilities.css";

html {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-3);
}

/* base layout sytles */
li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: var(--font-size-1);
}

h1 {
  font-size: var(--font-size-6);
  letter-spacing: var(--font-letterspacing-2);
}

h2 {
  font-size: var(--font-size-7);
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-2);
  color: var(--gray-9);
}

h3 {
  font-size: var(--font-size-7);
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-2);
  color: var(--gray-9);
}

@media (min-width: 1000px) {
  li[role="none"],
  .nav-link {
    width: fit-content;
    margin-inline: none;
    font-size: var(--font-size-0);
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* COMPONENTS */
.btn {
  color: hsl(var(--white));
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--menu {
  background-color: transparent;
  border: none;
}
