---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PhotoStack from "../components/PhotoStack.astro";
import ServiceGrid from "../components/ServiceGrid.astro";
import LocalBanner from "../components/LocalBanner.astro";
---

<BaseLayout title="Test">
  <!-- <div class="reference"></div> -->
  <Hero />
  <PhotoStack />
  <ServiceGrid />
  <LocalBanner />
</BaseLayout>


<style>
  /* this is for the reference image of the design */
  .reference {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: no-repeat url("../../public/nav-hero.png");
    background-size: contain;
    height: 1200px;
    width: 100vw;
    opacity: .2;
  }
</style>
