---
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MK9H3X2");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6Y2BCR3ZSK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6Y2BCR3ZSK");
    </script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Thanks!</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="inner-wrap">
        <h1>Thank you!</h1>
        <p>We've received our submission and will get back to you as soon as possible.</p>
        <Button link="/" text="return to site" style="primary" />
      </div>
    </div>
  </body>
</html>

<style lang="scss">
  html,
  body {
    height: 100%;
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--white));
    margin-inline: var(--size-2);
  }

  .wrapper {
    display: grid;
    place-items: center;
    min-height: 100%;
  }

  .inner-wrap {
    display: grid;
    place-items: center;

    h1 {
      // font-size: var(--font-size-8);
    }

    p {
      text-align: center;
      max-width: 35ch;
      font-size: var(--font-size-4);
      margin-block: var(--size-8);
    }
  }
</style>
