---
import { Icon } from "astro-icon";

const { title, p, accordionContent } = Astro.props;
---

<div class="width-sm flow accordionContain">
  <h2 class="center">{title}</h2>
  {p && <p class="center caps">{p}</p>}
  <div class="accordion flow" id="homeAccordion">
    {accordionContent.map((content) => (
    <button class="accordion-btn shadow-2 radius-2">
      <Icon class="btn-icn" name="fe:check-circle" width={40} />
      <div>{content.title}</div>
    </button>
    <div class="flow accordion-panel semi-muted radius-2">
      <p class="" set:html={content.expand}></p>
    </div>
    ))}
  </div>
</div>

<script>
  import createAccordion from "./accordion.js";

  createAccordion("#homeAccordion", { firstExpanded: true, onePanelOnly: true });
</script>

<style>
  .accordion {
    margin-top: var(--size-9);
  }

  .accordionContain {
    padding-inline: var(--size-6);
    margin: var(--size-8) auto;
  }

  .accordion-panel {
    padding: var(--size-8);
    background-color: var(--gray-0);
    line-height: var(--font-lineheight-4);
  }

  .accordion-btn {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--size-3);
    padding: var(--size-3) var(--size-5);
    font-size: var(--font-size-2);
    text-align: left;
    text-transform: capitalize;
    border: 1px solid transparent;
    cursor: pointer;
    color: hsl(var(--brand-dark));
  }

  .accordion-btn > div {
    pointer-events: none;
  }

  .btn-icn {
    padding-top: var(--size-1);
    flex: 0 0 20px;
  }

  [aria-expanded="false"] .btn-icn {
    color: hsl(var(--footer-accent));
  }

  .active {
    background-color: hsl(var(--footer-accent));
    color: hsl(var(--white));
  }

  .accordion-panel {
    display: none;
  }

  .accordion-panel:not([hidden="true"]) {
    display: block;
  }

  @media (min-width: 1000px) {
    .accordionContain {
      max-width: 80ch;
    }
  }
</style>
