---
const { text, link, style } = Astro.props;
---

<a href={link} class={`btn btn--${style}`}>{text}</a>


<style>
  .btn {
    display: block;
    white-space: nowrap;
    max-width: fit-content;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-5);
    padding-block: var(--size-4);
    padding-inline: var(--size-6);
    border: var(--border-size-2) solid transparent;
    border-radius: var(--radius-6);
  }

  .btn--primary {
    background-color: hsl(var(--brand-green));
  }


  .btn:hover {
    background-color: hsl(92.4, 40.6%, 42.9%);
    backdrop-filter: saturate(180%) blur(20px);
    border: var(--border-size-2) solid hsl(var(--brand-green));
  }
</style>
