---
import Button from "./Button.astro";
import BreadCrumb from "./BreadCrumb.astro";
import { Image } from "@astrojs/image/components";

const {
  crumbList,
  heroUrl,
  bbb,
  h1 = "#1 Painters Kansas City",
  p = "Your Professional Painters In Kansas City With The Quality You Deserve At A Price You Can Afford.",
  heroButton = true,
} = Astro.props;
---

<header class="">
  <div class="content-wrap grid-md">
    {
      crumbList && (
        <div class="breadcrumb">
          <BreadCrumb {crumbList} />
        </div>
      )
    }
    {bbb && <p class="txt-primary txt-bold">BBB A+ Rated with a 2-year Warranty</p>}
    <h1 class="h1 center leading-2">{h1}</h1>
    {p && <p class="width-sm center mb-8">{p}</p>}
    {heroButton && <Button text="Request A Free Service Estimate" link="/contact-us/" style="primary" />}
  </div>
  <!-- <img src="/cedar-shake.jpg" alt="" srcset=""> -->
  <Image src={heroUrl} width={1200} />
</header>

<style lang="scss">
  $height: 85vh;
  $max-height: 800px;

  header {
    display: grid;
    grid-template-areas: "hero";
    color: hsl(var(--white));

    > * {
      grid-area: hero;
    }

    height: $height;
    max-height: $max-height;
    place-items: center;
    background: linear-gradient(
      180deg,
      hsl(0deg 0% 0% / 0.7) 0%,
      hsl(0deg 0% 0% / 0.7) 16%,
      hsl(0deg 0% 0% / 0.7) 24%,
      hsl(0deg 0% 0% / 0.6) 30%,
      hsl(0deg 0% 0% / 0.6) 35%,
      hsl(0deg 0% 0% / 0.6) 40%,
      hsl(0deg 0% 0% / 0.6) 45%,
      hsl(0deg 0% 0% / 0.5) 50%,
      hsl(0deg 0% 0% / 0.5) 55%,
      hsl(0deg 0% 0% / 0.5) 60%,
      hsl(0deg 0% 0% / 0.5) 65%,
      hsl(0deg 0% 0% / 0.5) 70%,
      hsl(0deg 0% 0% / 0.4) 76%,
      hsl(0deg 0% 0% / 0.4) 84%,
      hsl(0deg 0% 0% / 0.4) 100%
    );

    img {
      z-index: -1;
      object-fit: cover;
      object-position: top;
      height: min($height, $max-height);
      width: 100%;
    }

    div > p:nth-child(3) {
      font-weight: var(--font-weight-3);
    }
  }
</style>
