---
import { Icon } from "astro-icon";

const navLinks = [
  {
    name: "Services",
    url: "/services/",
    style: "transparent",
  },
  {
    name: "Service Areas",
    url: "/service-area/",
    style: "transparent",
  },
  {
    name: "About",
    url: "/about-us/",
    style: "transparent",
  },
  {
    name: "Contact",
    url: "/contact-us/",
    style: "transparent",
  },
];
---

<nav aria-label="primary">
  <div class="nav-container">
    <a href="/">
      <Icon name="logoSide" width={150} class="logo" alt="Great Plains Painting Logo" />
    </a>
    <div class="nav-wrapper">
      <div class="burger-menu" data-element="burger-root">
        <button id="menu-btn" class="btn btn--menu" data-element="burger-menu-trigger" type="button" aria-expanded="false" aria-label="Open mobile navigation menu">
          <span class="burger-menu__bar" aria-hidden="true"></span>
        </button>
      <div class="burger-menu__panel" data-element="burger-menu__panel">
        <ul class="nav-links" role="navigation">
          {
            navLinks.map((link) => (
              <li role="none">
                <a href={link.url} class="btn nav-link">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      </div>
      <div class="phone">
        <Icon name="feather:phone" width={25} />
        <a href="tel:+8169459792">+(816) 945-9792</a>
      </div>
    </div>
  </div>
</nav>

<script is:inline>
  const navTap = document.querySelector('.burger-menu');
  const navBtn = document.querySelector("#menu-btn");
  navTap.addEventListener("click", () => {
    navBtn.setAttribute("aria-expanded", navBtn.getAttribute("aria-expanded") === "false" ? "true" : "false");
  });
</script>

<style>
  nav {
    --button-size: 30px;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 2;
    background-color: hsl(var(--brand-dark));
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--size-fluid-1);
    padding-inline: var(--size-fluid-3);
  }

  .nav-wrapper {
    flex: 0 0 calc(var(--button-size) + 20px);
    aspect-ratio: 1;
  }

  .nav-links,
  .nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-3);
  }

  .phone {
    display: none;
    visibility: hidden;
  }

  .phone a {
    text-decoration: none;
    color: hsl(var(--white));
  }

  .phone svg {
    color: hsl(var(--white));
    margin-right: var(--size-1);
  }

  /* .nav-links {
    margin: 0;
    flex-direction: column;
    transform: translateY(-200%);
    position: absolute;
    top: var(--size-fluid-5);
    left: 0;
    right: 0;
    padding: var(--size-3);
    text-align: center;
    background-color: hsl(var(--brand-dark));
  } */

  .nav-link:hover {
    color: hsl(var(--brand-yellow));
  }

  /* .btn--menu[aria-expanded="true"] + .nav-links {
    transform: translateY(0);
  } */

  /* MEDIA QUERIES */
  /* @media (min-width: 1000px) { */
    /* NAV */
    .nav-wrapper {
      flex: auto;
      aspect-ratio: 0;
    }

    .nav-container {
      padding-inline: var(--size-fluid-6);
    }

    .nav-wrapper {
      gap: var(--size-8);
      max-width: fit-content;
    }

    /* .btn--menu {
      display: none;
    } */

    .nav-links {
      flex-direction: row;
      /* position: static; */
      transform: translateY(0);
      padding: var(--size-1);
      gap: var(--size-8);
      background-color: transparent;
    }

    /* .phone {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      visibility: visible;
    } */
  /* } */



  /* .burger-menu .burger-menu__panel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem 1.5rem 2rem 1.5rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: hsl(var(--brand-green));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  } */

  /* this will be the open state */

  /* .nav-links {
    display: block;
  } */

  /* .burger-menu .burger-menu__panel {
    visibility: visible;
    opacity: 1;
  } */

  /* .burger-menu__bar,
  .burger-menu__bar::before,
  .burger-menu__bar::after {
    display: block;
    width: var(--button-size);
    height: 4px;
    background: hsl(var(--brand-green));
    border: 1px solid hsl(var(--brand-green));
    position: absolute;
    border-radius: 3px;
    margin-left: -1px;
    transition: transform 350ms ease-in-out;
    z-index: var(--layer-important);
  }

  .burger-menu__bar {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-menu__bar::before,
  .burger-menu__bar::after {
    content: "";
  }

  .burger-menu__bar::before {
    top: -12px;
  }

  .burger-menu__bar::after {
    bottom: -12px;
  } */
</style>
