---
import Button from "./Button.astro";
import { Picture, Image } from "@astrojs/image/components";
import meetHouse from "../assets/meetHouse.jpg";
import meetBrett from "../assets/meetBrett.jpg";

const {
  reverseTitle = "Our Experienced Team",
  reversep = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptates rem suscipit quibusdam nobis assumenda tempora ex et cumque sed impedit illum, velit veniam cum reprehenderit, id officiis tempore eos? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptates rem suscipit quibusdam nobis assumenda tempora ex et cumque sed impedit illum, velit veniam cum reprehenderit, id officiis tempore eos?",
  reverseUnder = meetHouse,
  reverseOver = meetBrett,
} = Astro.props;
---

<section class="mobile-section meet-team">
  <div class="photo-stack">
    <div class="img-wrap back">
      <Picture
        class="img radius-2 shadow-5"
        src={reverseUnder}
        formats={["avif", "webp", "jpeg"]}
        widths={[300, 600, 800]}
        sizes="(max-width: 1140px) calc(75vw - 2rem), 33vw"
        alt=""
      />
    </div>
    <div class="img-wrap front">
      <Picture
        class="img radius-2 shadow-5"
        src={reverseOver}
        formats={["avif", "webp", "jpeg"]}
        widths={[300, 600, 800]}
        sizes="(max-width: 1140px) calc(75vw - 2rem), 33vw"
        alt=""
      />
    </div>
  </div>
  <div class="copy flow padding" style="--flow-space: 1.5rem">
    <h2 class="h2">{reverseTitle}</h2>
    <p class="copy muted flow" set:html={reversep} />
  </div>
</section>

<style lang="scss">
  .button-wrap {
    margin-block: var(--size-10);
  }

  .photo-stack {
    display: grid;
    max-height: 40rem;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));
    padding-bottom: var(--size-8);
  }

  .img-wrap {
    &.back {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }

    &.front {
      grid-row: 2 / span 4;
      grid-column: 2 / span 4;
    }
  }

  .img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
  }

  .padding {
    padding-inline: var(--size-fluid-3);
  }
  @media (min-width: 1000px) {
    .meet-team {
      max-width: var(--max-w);
      padding-inline: var(--size-fluid-3);
      grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
      column-gap: var(--size-9);
    }
  }
</style>
