---
import Button from "./Button.astro"
import { Image } from '@astrojs/image';
import meetHouse from '../assets/meetHouse.jpg'
import meetBrett from '../assets/meetBrett.jpg'
---

<secton class="mobile-section meet-team">
  <div class="copy flow" style="--flow-space: 1.5rem">
    <p class="small upper semi-bold muted">our experienced team</p>
    <h2 class="h2">Meet the Most Trusted Kansas City Painters</h2>
    <p class="sub-h2 black">Award-Winning Interior and Exterior Painting Service Creates Lots of Happy Customers</p>
    <p class="copy muted">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptates rem suscipit quibusdam
      nobis assumenda tempora ex et cumque sed impedit illum, velit veniam cum reprehenderit, id officiis tempore eos?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptates rem suscipit quibusdam
      nobis assumenda tempora ex et cumque sed impedit illum, velit veniam cum reprehenderit, id officiis tempore eos?
    </p>
    <div class="button-wrap">
      <Button text="Meet the Team" link="#" style="primary" />
    </div>
  </div>
  <div class="photo-stack">
    <div class="img-wrap back">
      <Image class="img radius-2 shadow-5" src={meetHouse} width={1200} />
    </div>
    <div class="img-wrap front">
      <Image class="img radius-2 shadow-5" src={meetBrett} width={1200} />
    </div>
  </div>
</secton>


<style lang="scss">
  .button-wrap {
    margin-block: var(--size-10);
  }

  .photo-stack {
    display: grid;
    max-height: 40rem;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));
    padding-bottom: var(--size-8)
  }

  .img-wrap {

    &.back {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }

    &.front {
      grid-row: 2 / span 4;
      grid-column: 2 / span 4;
    }
  }

  .img {
    object-fit: cover;
    max-height: 100%;
    width: auto;

  }

  @media (min-width: 1000px) {
    .meet-team {
      max-width: var(--max-w);
      padding-inline: var(--size-fluid-3);
      grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
      column-gap: var(--size-3);
    }
  }
</style>
