---
import photos from "../data/recents.json";
import { Image, Picture } from "@astrojs/image/components";
---

{
  photos.recentsHome.map((photo) => (
    <div class="photoContain">
      <Picture
        class="photo"
        src={import(`../assets/recents/${photo.src}.jpg`)}
        formats={["avif", "webp", "jpg"]}
        widths={[600, 800]}
        alt={photo.alt}
        sizes="(max-width: 1000px) 100vw, 33vw"
      />
      <span class="pill">{photo.tag}</span>
      <h3 class="text-white">{photo.title}</h3>
    </div>
  ))
}

<style lang="scss">
  .photoContain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 75px);
    color: hsl(var(--white));
    background: hsl(0deg 0% 0% / 0.35) 0%;

    span {
      grid-row: 5 / span 1;
      align-self: end;
      margin-left: var(--size-7);
    }

    .pill {
      background-color: hsl(var(--footer-accent));
      width: fit-content;
      padding-inline: var(--size-4);
      padding-block: var(--size-0);
      border-radius: var(--radius-5);
    }

    h3 {
      font-size: var(--font-size-fluid-1);
      grid-row: 6 / span 1;
      color: hsl(var(--white));
      max-width: 17ch;
      margin-left: var(--size-8);
    }
  }
  .photo {
    position: relative;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 450px;
  }
</style>
