---
import Button from "./Button.astro"
import { Image } from '@astrojs/image';
import services from '../data/services.json'
---

<section class="services mobile-section">
  <div class="copy flow center" style="--flow-space: 1.5rem">
    <p class="upper semi-bold muted">great plains painting</p>
    <h3 class="h2">House Painting Kansas City Services & More</h3>
    <p class="sub-h2 black">Great Plains Painting is Your One-Stop Shop</p>
    <div class="service-grid">
      {
      services.map((service, i) => (
      <div class="grid-item">
        <div class="img-wrap">
          <Image class="service-img round" src={import(`../assets/services/${service.src}.png`)} width={800} />
        </div>
        <span class="number round">{i+1}</span>
        <div class="right">
          <h3 class="service-title left">
            {service.service}
          </h3>
          <p class="service-copy left">
            {service.copy}
          </p>
        </div>
      </div>
      ))
      }
    </div>
    <div class="button-wrap">
      <Button text="schedule your free estimate" link="#" style="primary" />
    </div>
  </div>
</section>


<style lang="scss">
  .services {
    padding-inline: var(--size-8);
  }
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--size-fluid-5);
    margin-top: var(--size-10);
  }

  .grid-item {
    display: flex;
    gap: var(--size-3);
    position: relative;
  }

  .img-wrap {
    width: 150px;
    height: 150px;
    overflow: hidden;
    flex: 1 0 150px;
  }

  .service-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .button-wrap {
    margin-top: var(--size-10);
  }

  .number {
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
    background-color: hsl(var(--brand-green));
    color: hsl(var(--white));
    top: -5px;
    left: 22px;
  }

  @media (min-width: 1000px) {
    .services {
      max-width: var(--max-w);
    }
  }
</style>
