---
import Button from "./Button.astro";
---

<section class="easy">
  <div class="content-wrap flow">
    <div class="copy flow fancy-bg">
      <div class="title__wrapper">
        <p class="upper tagline">residential and commercial painting</p>
        <h3 class="title">Working With Great Plains Painting is SO Easy!</h3>
        <p class="sub">Get a no hassle quote in no time</p>
      </div>
      <div class="grid-wrapper">
        <div class="steps-grid">
          <div class="step">
            <p class="step-num upper">1</p>
            <p class="step-title">Get a Free Estimate Now</p>
            <p class="step-copy">
              Call now or <a href="#">complete our contact form</a> and we will call you ASAP to learn more about your project
              and schedule an in person estimate.
            </p>
          </div>
          <div class="step">
            <p class="step-num upper">2</p>
            <p class="step-title">In-Person Consultation and Written Estimate</p>
            <p class="step-copy">
              We ask a lot of questions and walk the house with you so that we know exactly how to customize your project
              for your needs. We write up and deliver you a bid package on the spot. No "we'll email you a bid" from us.
            </p>
          </div>
          <div class="step">
            <p class="step-num upper">3</p>
            <p class="step-title">Save Us Time, We'll Save You Money</p>
            <p class="step-copy">
              We can save you money 2 ways (both are optional):
              <ol class="flow" style="text-align: left">
                <li>Take our next available schedule spot and save 5%</li>
                <li>Schedule with your estimator the day we provide you the estimate and save 5%</li>
              </ol>
            </p>
          </div>
          <div class="step">
            <p class="step-num upper">4</p>
            <p class="step-title">Schedule the Project and Complete the Work</p>
            <p class="step-copy">
              After you've decided to work with us, we'll be in close communication about start date. If you need us for
              anything, we're a text away
            </p>
          </div>
          <div class="step">
            <p class="step-num upper">5</p>
            <p class="step-title">Get Peace of Mind</p>
            <p class="step-copy">
              When we finish your project, we'll do a 360 walkthrough with you to make sure you're happy and everything is
              100% complete. All work we completed is backed by a 2-year warranty.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-wrap" style="--flow-space: 3rem">
        <Button text="free estimate" link="/contact-us/" style="primary" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .content-wrap {
    color: white;
    padding-inline: var(--size-7);

    .title__wrapper {
      width: 100%;
      padding-inline: var(--size-6);
    }

    .tagline,
    .title,
    .sub {
      margin-block: 0;
      color: var(--white);
      text-align: start;
    }

    .title {
      padding-block: var(--size-2) var(--size-1);
      border-top: 5px solid;
    }

    .sub {
      border-bottom: 1.5px solid var(--gray-6);
      padding-bottom: var(--size-4);
    }

    .copy {
      padding-inline: var(--size-3);
      margin-block: var(--size-8);
      grid-row: 1 / 3;
      grid-column: 1 / 3;
      display: grid;
      grid-auto-rows: min-content;
    }
  }


  .fancy-bg {
    padding-block: var(--size-9);
    background-color: hsl(var(--brand-dark));
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-4);
  }

  .tagline {
    letter-spacing: var(--font-letterspacing-4);
  }

  .grid-wrapper {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: var(--size-6);
  }

  .steps-grid {
    --grid-min-size: 12rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
    column-gap: var(--size-6);
  }

  .step {
    ol {
      padding-inline-start: 2ch;
    }
  }

  .step-num {
    color: hsl(var(--brand-green));
    padding-block: var(--size-1);
    border-radius: var(--size-4);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-7);
  }

  .step-title {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-4);
    margin-block: var(--size-3);
  }

  .step-copy {
    font-size: var(--font-size-2);
    line-height: var(--font-lineheight-4);
    margin-inline: auto;

    a {
      color: inherit;
    }

    a:hover {
      color: hsl(var(--brand-yellow));
    }
  }

  .btn-wrap {
    margin-inline: auto;
  }

  @media (min-width: 1000px) {
    .title {
    }
  }
</style>
