// apply some resets
.form-field {
  --form-field-width: 30ch;

  //reset the defaults
  background-color: #fff;
  border: 2px solid;
  border-radius: var(--radius-3);
  padding: var(--size-1) var(--size-3);
  font-family: inherit;
  color: inherit;
  //fallback for safari zoom
  font-size: 16px;
  // Caps this to prevent sass thinking it's the sass max() function
  font-size: Max(16px, 1em);
  max-width: 100%;
  width: var(--form-field-width, 30ch);

  &:not(textarea):not(.select--multiple) {
    line-height: 1;
    height: 3rem;
  }

  & select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
  }
  // end resets
}

.form-button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: var(--font-size-3);
  padding: 0;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

textarea {
  min-height: var(--size-12);
}
