---
import "../styles/blog.css";
import { Icon } from "astro-icon";
import NewNavbar from "../components/NewNavbar.astro";
const { title = "Great Plains Painting" } = Astro.props;

const serviceLinks = [
  {
    name: "Interior Painting",
    url: "/interior-painting-kansas-city/",
  },
  {
    name: "Exterior Painting",
    url: "/exterior-painting-kansas-city/",
  },
  {
    name: "Cabinet Painting",
    url: "/cabinet-painting-kansas-city/",
  },
  {
    name: "Commercial Painting",
    url: "/commercial-painting-contractors-kansas-city/",
  },
  {
    name: "Wood Rot Repair",
    url: "/wood-rot-repair-kansas-city/",
  },
  {
    name: "James Hardie Siding",
    url: "/james-hardie-siding-kansas-city/",
  },
];

const areaLinks = [
  {
    city: "Kansas City",
    url: "/",
  },
  {
    city: "Overland Park",
    url: "/service-area/painters-overland-park-ks/",
  },
  {
    city: "Lee's Summit",
    url: "/service-area/painters-lees-summit-mo/",
  },
  {
    city: "Olathe",
    url: "/service-area/painters-olathe-ks/",
  },
  {
    city: "Leawood",
    url: "/service-area/painters-leawood-ks/",
  },
  {
    city: "Prairie Village",
    url: "/service-area/painters-prairie-village-ks/",
  },
  {
    city: "Roeland Park",
    url: "/service-area/painters-roeland-park-ks/",
  },
  {
    city: "Lenexa",
    url: "/service-area/painters-lenexa-ks/",
  },
  {
    city: "Shawnee",
    url: "/service-area/painters-shawnee-ks/",
  },
];
---

<html lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <body>
    <header class="site-head" role="banner">
      <a href="#main-content" class="skip-link">Skip to Content</a>
      <!-- <Navbar /> -->
      <NewNavbar />
    </header>
    <main id="main-content" tabindex="-1">
      <slot />
    </main>
    <footer class="blur">
      <div class="footerNav-wrapper">
        <nav class="links flow">
          <section class="company center">
            <Icon name="logoWhiteText" width={120} />
            <div class="brand-copy">
              Kansas City's favorite local interior, exterior, and commercial painting company.
            </div>
            <div class="footer-social">
              <a href="https://www.twitter.com/plainsgreat">
                <Icon name="ant-design:twitter-circle-filled" width={50} />
              </a>
              <a href="https://www.facebook.com/greatplainspainting">
                <Icon name="ic:baseline-facebook" width={50} />
              </a>
              <a href="https://www.linkedin.com/company/great-plains-painting">
                <Icon name="entypo-social:linkedin-with-circle" width={50} />
              </a>
            </div>
          </section>
          <section class="footer-block footer-contact">
            <h3>Contact Us</h3>
            <div class="footer-phone justify-center">
              <Icon name="fa-solid:phone-square" width={25} />
              <a href="tel:+8169459792">(816) 945-9792</a>
            </div>
            <div class="footer-block footer-mail justify-center">
              <Icon name="fa-solid:envelope" width={25} />
              <a href="mailto:hello@gppkc.com">hello@gppkc.com</a>
            </div>
            <div class="footer-map justify-center">
              <Icon name="fa-solid:map" width={25} />
              <a href="#">Kansas City, MO</a>
            </div>
          </section>
          <section class="footer-block footer-services">
            <h3>Services</h3>
            <ul class="service-links">
              {
                serviceLinks.map((service) => (
                  <li role="none">
                    <a href={service.url}>{service.name}</a>
                  </li>
                ))
              }
            </ul>
          </section>
          <section class="footer-block footer-areas">
            <h3>Service Areas</h3>
            <ul class="service-areas">
              {
                areaLinks.map((area) => (
                  <li role="none">
                    <a href={area.url}>{area.city}</a>
                  </li>
                ))
              }
            </ul>
          </section>
        </nav>
      </div>
      <div class="footer-banner">Made with ♥ | <span class="date"></span> | Great Plains Painting</div>
    </footer>
    <script is:inline defer>
      const date = document.querySelector(".date");
      const currentYear = new Date().getFullYear();
      date.append(currentYear);
    </script>

    <style lang="scss">
      .skip-link {
        z-index: var(--layer-important);
        display: inline-block;
        padding: 0.7rem 1rem 0.5rem 1rem;
        background: hsl(var(--white));
        color: hsl(var(--footer-accent));
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }

      .skip-link:hover {
        background: hsl(var(--brand-green));
        color: hsl(var(--brand-dark));
      }

      .skip-link:not(:focus) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
      }

      .site-head {
        padding: 0.6rem 0;
        background: hsl(var(--footer-accent));
        color: white;
        line-height: 1.1;
      }

      .site-head :focus {
        outline-color: var(--color-light);
      }
      main {
        max-width: 80ch;
        margin: 0 auto;
      }
      /* MEDIA QUERIES */
      @media (min-width: 1000px) {
        /* FOOTER */
        footer a {
          font-weight: var(--font-weight-5);
        }

        .footer-services a,
        .footer-areas a {
          text-transform: capitalize;
        }

        .footer-services ul,
        .footer-areas ul {
          columns: 2;
          max-width: 17rem;
        }

        .footer-contact {
          width: fit-content;
          margin-inline: auto;
        }

        .footer-contact a {
          font-size: 0.75em;
          padding-right: var(--size-fluid-4);
        }

        .footerNav-wrapper {
          padding-inline: var(--size-fluid-6);
          padding-top: var(--size-fluid-6);
          padding-bottom: var(--size-fluid-3);
        }

        .links {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: var(--size-fluid-3);
        }
      }

      /* FOOTER */
      footer {
        background-color: hsl(var(--footer-accent));
        color: hsl(var(--white));
        display: flex;
        flex-direction: column;
      }

      footer ul {
        margin: 0;
        padding: 0;
        --flow-space: 0.75em;
      }

      .footerNav-wrapper {
        padding-block: var(--size-fluid-5);
        padding-inline: var(--size-fluid-4);
        flex-grow: 1;
        /* max-width: 1500px; */
        /* margin: 0 auto; */
      }

      .links {
        --flow-space: 2em;
      }

      .nav-links,
      .nav-wrapper {
        display: flex;
        align-items: center;
      }

      .footer-services,
      .footer-areas {
        max-width: fit-content;
        margin-inline: auto;
      }

      .service-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--size-4);
        justify-items: start;
        a {
          display: block;
          // text-align: st;
        }
      }

      .service-areas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--size-4);
        justify-items: start;
        a {
          display: block;
          // text-align: center;
        }
      }

      .footer-banner {
        background-color: hsl(var(--footer-dark));
        height: var(--size-8);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-2);
      }

      footer a {
        color: hsl(var(--white));
        text-decoration: none;
        font-weight: var(--font-weight-3);
      }

      footer a:hover {
        color: hsl(var(--brand-yellow));
      }

      .brand-copy {
        max-width: 50ch;
        margin-inline: auto;
        padding-top: var(--size-fluid-1);
        padding-bottom: var(--size-fluid-3);
      }

      .footer-block h3 {
        text-align: center;
        color: hsl(var(--white));
        margin-bottom: var(--size-7);
        font-size: var(--font-size-4);
        white-space: nowrap;
      }

      .footer-contact > div {
        display: flex;
        align-items: center;
        padding-bottom: var(--size-3);
      }

      .footer-contact svg {
        margin-right: var(--size-3);
      }
    </style>
  </body>
</html>
