---
import "../styles/blog.css";
import "../styles/utilities.css";
import Footer from "../components/Footer.astro";
import NewNavbar from "../components/NewNavbar.astro";
const { title = "Great Plains Painting", desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-MK9H3X2");
  </script>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap.xml" />

  <title>{title}</title>
  <meta name="description" content={desc} />

  <!-- Google tag (gtag.js) -->
  <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6Y2BCR3ZSK"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      window.dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-6Y2BCR3ZSK");
  </script>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MK9H3X2"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="site-head" role="banner">
      <a href="#main-content" class="skip-link">Skip to Content</a>
      <!-- <Navbar /> -->
      <NewNavbar />
    </header>
    <main id="main-content" tabindex="-1">
      <slot />
    </main>
    <Footer />

    <style lang="scss">
      .skip-link {
        z-index: var(--layer-important);
        display: inline-block;
        padding: 0.7rem 1rem 0.5rem 1rem;
        background: hsl(var(--white));
        color: hsl(var(--footer-accent));
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }

      .skip-link:hover {
        background: hsl(var(--brand-green));
        color: hsl(var(--brand-dark));
      }

      .skip-link:not(:focus) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
      }

      .site-head {
        padding: 0.6rem 0;
        background: hsl(var(--footer-accent));
        color: white;
        line-height: 1.1;
      }

      .site-head :focus {
        outline-color: var(--color-light);
      }
    </style>
  </body>
</html>
